---
import { Image } from 'astro:assets';

/* importando layouts */
import Layout from "../layouts/Layout.astro";

import localImageNaveNP0400A from '../images/model/modelo-color-np0400a.png';
import localImageNaveNP0400B from '../images/model/modelo-color-np0400b.png';
import localImageNaveNP0300A from '../images/model/modelo-color-np0300a.png';
import localImageNaveNP0300B from '../images/model/modelo-color-np0300b.png';
import localImageNaveNP0100 from '../images/model/modelo-color-np0100.png';
import localImageNaveNP0200 from '../images/model/modelo-color-np0200.png';
import localImageLogo from '../images/navedepapel.svg';
---

<Layout>
  <nav id="navigation-per-page">
    <menu>
      <li>
        <a href="#inicio" title="Inicio">Inicio</a>
      </li>
      <li>
        <a href="#nosotros" title="Nosotros">Nosotros</a>
      </li>
      <li>
        <a href="#galeria" title="Galería">Galería</a>
      </li>
      <li>
        <a href="#descargar" title="Descargar">Descargar</a>
      </li>
      <li>
        <a href="#contacto" title="Contacto">Contacto</a>
      </li>
    </menu>
  </nav>

  <section id="inicio">
    <header>
      <h1>Nave de Papel</h1>
    </header>
  </section>

  <section id="main-content">
    <article id="nosotros">
      <div class="txt-box">
        <header>
          <h2>Nosotros</h2>
        </header>

        <p>
          Una <strong>comunidad</strong> con la afición a las <strong
            >Nave de Papel</strong
          >, para compartir consejos y modelos. <br /><br />

          Aquí podrás encontrar modelos de naves para <strong>descargar</strong
          >, ya sea sin color o con color. <br /><br />

          Esperamos que nos ayudes a construir esta comunidad, <strong
            >contribuyendo y colaborando</strong
          > con otros usuarios.
        </p>
      </div>
    </article>

    <article id="galeria">
      <div class="txt-box box-center">
        <header>
          <h2>Galería</h2>
        </header>

        <p>
          Fotos de algunos modelos realizados, los mejores modelos entraran
          dentro del <strong>top 10</strong>, esperamos su fotos. <br /><br />

          Si quieres compartir tus modelos de nades puedes hacerlo a este correo: <strong>info@edgarcornejo.com</strong> con el asunto "Nave de Papel".
        </p>
      </div>
    </article>

    <article id="descargar">
      <div class="txt-box box-center">
        <header>
          <h2>Descargar</h2>
        </header>

        <p>
          Aquí puedes <strong>descargar</strong> los modelos que mas quieras, si
          deseas un color en especial o tamaño no dudes en comentarlos. <br
          /><br />

          Recuerda que si contribuyes con in modelo te damos el <strong
            >crédito</strong
          > ya sea con tu nombre o nick.
        </p>

        <div class="box-img">
          <figure>
            <Image src={localImageNaveNP0400A} alt="Modelo Color np0400a" />
            <figcaption>
              modelo-color-np0400a<br /> @devcornejo
            </figcaption>
            <a href="/pdf/modelo-color-np0400b.pdf" target="_blank">Descargar</a>
          </figure>

          <figure>
            <Image src={localImageNaveNP0400B} alt="Modelo Color np0400b" />
            <figcaption>modelo-color-np0400b<br /> @devcornejo</figcaption>
            <a href="/pdf/modelo-color-np0400a.pdf" target="_blank"
              >Descargar</a
            >
          </figure>

          <figure>
            <Image src={localImageNaveNP0300A} alt="Modelo Color np0300a" />
            <figcaption>modelo-color-np0300a<br /> @devcornejo</figcaption>
            <a href="/pdf/modelo-color-np0300a.pdf" target="_blank"
              >Descargar</a
            >
          </figure>

          <figure>
            <Image src={localImageNaveNP0300B} alt="Modelo Color np0300b" />
            <figcaption>modelo-color-np0300b<br /> @devcornejo</figcaption>
            <a href="/pdf/modelo-color-np0300b.pdf" target="_blank"
              >Descargar</a
            >
          </figure>

          <figure>
            <Image src={localImageNaveNP0100} alt="Modelo Color np0100" />
            <figcaption>modelo-color-np0100<br /> @devcornejo</figcaption>
            <a href="/pdf/modelo-color-np0100.pdf" target="_blank"
              >Descargar</a
            >
          </figure>

          <figure>
            <Image src={localImageNaveNP0200} alt="Modelo Color np0200" />
            <figcaption>modelo-color-np0200<br /> @devcornejo</figcaption>
            <a href="/pdf/modelo-color-np0200.pdf" target="_blank"
              >Descargar</a
            >
          </figure>
        </div>

        <p>Estamos trabajando, para que puedas descargar muchos mas modelos.</p>
      </div>
    </article>

    <article id="contacto">
      <div class="txt-box">
        <header>
          <h2>Contacto</h2>
        </header>

        <p>
          Los únicos medios de comunicación son a través del siguiente correo. <br /><br />
          - info@edgarcornejo.com<br />
        </p>
      </div>
    </article>
  </section>

  <footer>
    <Image src={localImageLogo} alt="Logo Nave de Papel" />
    <p>© Nave de Papel</p>
  </footer>
</Layout>